body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.caption {
	margin-bottom: 30px;
	font-weight: 300;
}

/*NAVBAR STYLE BEGINS*/
.brand-logo {
	margin-left: 1%;
}
/*NAVBAR STYLE ENDS*/